* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 16px;
  color: rgb(255, 251, 177);
  background-color: #242d3f;
  margin-left: 96px;
  margin-right: 96px;
}

#cool_painting {
  margin-top: 24px;
  width: 48%;
  height: auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 48px;
}

p {
  margin-top: 48px;
}

.button {
  justify-content: center;
}

.a:hover {
  background-color: #ddd;
  color: black;
}