* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  color: rgb(255, 251, 177);
  background-color: #242d3f;
}

h1 {
  text-align: center;
}

h3 {
  margin-left: 96px;
  margin-right: 96px;
}

.topnav {
  background-color: #201634;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  background-color: #201634;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}